<% if !current_user %>
<% provide(:title, "Home") %>
<% provide(:class, "home") %>
<div class="container">
<div class="center jumbotron jum-home">
  <h1>Welcome to the</h1>
  <h3>EPIC SHOTS</h3>

  <h2>
    This is the home page for the photo contest app.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
</div>
<% else %>
<h1>Gallery</h1>
<div class="container jumbotron">
   <%= render @photo %>
   <%= paginate @photo %>
</div>
<% end %>