<% provide(:title, 'Sign up') %>
<% provide(:class, 'signup') %>
<span><h1>LogIn</h1></span>
<div id="container">
  <% if current_user %>
    <ul class="signup-icon">
      <li><%= image_tag current_user.image_url, alt: current_user.name, size: '25x25' %></li>
      <li><%= link_to 'Log Out', logout_path, method: :delete %></li>
    </ul>
  <% else %>
    <div class="signup-icon">
      <div> <%= link_to image_tag("VK.com-logo.svg"),
                              '/auth/vkontakte' %> </div>
      <span></span>
      <div> <%= link_to image_tag("github-sign.svg"),
                            '/auth/github' %> </div>
    </div>
  <% end %>
</div>
