<% provide(:search, "gallery") %>
<h1>Gallery</h1>
<div class="container jumbotron">
<div class="photo-colletction">

  <%= render 'photos_paginate' %>

</div>
  <span id="pagination"> <%= paginate @paginate_array, remote: true %> </span>
</div>