<% provide(:show, "pgshow") %>
<% provide(:class, "pgbody") %>
<div class="photo-show-warp">
<div class="photo-show">


<div class="photo-show-img">
  <%= image_tag(@photo.picture.url, alt: 'Image',id:"imageshow") if @photo.picture? %>
  
</div>

</div> 

<div class="photo-comments">
	<div class="user">
	<div class="user-avater"><%= image_tag(@user.image_url,size: "50x50", alt: 'Image',id:"imageshow") if @user.image_url? %></div>
	<div class="user-name">
	  <%= @user.name %>
	  <div class="user-title"><h4><%= @photo.name %></h4></div>
			
	</div>
	</div>

</div>

</div>
